// Variables

// Fonts
$font-primary: 'Inconsolata', monospace;
$font-secondary: 'Signika', sans-serif;
$font-size-base: 16;

// Colors
$blue-primary: #0097e6;
$green-primary: #33d9b2;
$red-primary: #ff5252;

$light: #fff;
$dark: #2c2c54;

// Spacing
$spacing-base: 96;
$spacing-sm: 36;

// Containers
$section-base: 1140;
