@use '../abstracts' as a;

.btn {
  display: inline-block;
  max-width: a.rem(160);
  width: 100%;
  margin: a.rem(24) auto 0 auto;
  padding: a.rem(16);
  border-radius: a.rem(5);
  font-family: a.$font-primary;
  font-size: a.rem(16);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-position: 100% 0;
  background-size: 300%;

  &:hover {
    background-position: 0 100%;
  }

  &--one {
    @include a.btn-style(a.$light, a.$blue-primary);
  }

  &--two {
    @include a.btn-style(a.$green-primary, a.$light);
  }

  &--three {
    @include a.btn-style(a.$red-primary, a.$light);
  }

  &--four {
    @include a.btn-style(a.$blue-primary, a.$light);
  }

  &--five {
    @include a.btn-style(a.$blue-primary, a.$light);
    border: none;
    padding: 0.5rem;
    border-radius: 0;
    width: auto;
  }
}
