@use '../abstracts' as a;

.services {
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: a.rem(20);

    @include a.breakpoint(small) {
      padding-inline: a.rem(36);
      gap: a.rem(72);
    }

    &-item {
      flex: 1 1 0;

      @include a.breakpoint(small) {
        flex-basis: 100%;
      }

      &:nth-child(1) .services__list-title::after {
        content: '1';
      }

      &:nth-child(2) .services__list-title::after {
        content: '2';
      }

      &:nth-child(3) .services__list-title::after {
        content: '3';
      }
    }

    &-title {
      font-size: 24px;
      margin-bottom: 12px;
      position: relative;

      &::after {
        position: absolute;
        font-size: 144px;
        color: a.$green-primary;
        line-height: 1;
        opacity: 0.2;
        font-family: a.$font-secondary;
        left: 0;
        top: -60%;
      }
    }

    &-subtitle {
      display: block;
      font-weight: bold;
    }
  }
}
